.counter-container{
    background-color: rgb(238, 238, 229);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 1.5rem;
    border: 2px solid black;
    border-radius: 4px;
}


#btn{
    background-color: rgb(74, 74, 235);
    color: white;
    padding: 10px;
    font-size: 1.3rem;
    border-radius: 0.5rem;
}