#container{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: beige;
}

#containerA{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: beige; 
}

#containerB{
     height: 200px;
    width: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: beige;
}

